.bottom-bar {
    position: fixed;
    height: 64px;
    background-color: #fff;
    bottom: 0;
    z-index: 10;
    width: 100%;
    border-top: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    cursor: pointer;

    &-button {
        flex: 1;
        align-items: center;
        justify-content: center;
    }

    .active {
        color: rgb(5, 107, 223);
    }
}